@{
    ViewBag.Title = "MyJoins Application Home Page";
}
<div>
    <h3>MyJoins Application Main Page</h3>
<pre>
    http://[site name]/api/user
    'get':    {method:'GET'},
    'save':   {method:'POST'},
    'query':  {method:'GET', isArray:true},
    'remove': {method:'DELETE'},
    'delete': {method:'DELETE'} };
</pre>
</div>  